.hidden{
	display: none;
}

.video {
	position: center;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
  }

.content {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 25%;
	padding: 20px;

	
}